@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300;400;500;600;700;800;900;&display=swap');

* { 
    margin: 100;
    padding: 590;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    background-color: #081b29;
    color: aliceblue;
    

}
.header  {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-item: center;
    z-index: 100;
    
} 
 
.logo {
    font-size: 25px;
    color: #e1eef1;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color:#e1eef1;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
.navbar a:hover,
.navbar a.active {
    color: rgb(114, 151, 165);
}

.Home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.Home-content {
    max-width: 600px;
}

.Home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.Home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(79, 121, 170);
}
.Home-content p {
    margin: 20px 0 40px;
    font-size: 16px;
}

.Home-content .htn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.btn-box a  {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(79, 121, 170);
    border: 2px solid #0c4653;
    border-radius: 8px;
    font-size: 19px;
    color: rgb(218, 207, 214);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: rgb(79, 121, 170);
    color: rgb(218, 207, 214);

    
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(118, 179, 184);
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}
.btn-box a:hover::before {
    width: 100%;
}

.Home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.Home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: aquamarine;
    text-decoration: none;

}
.body {
    background-image: url(Home.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
}


